body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:24pt;
}

h1 {
    background-color: maroon;
    color:white;
}

cite {
    background-color:lightgoldenrodyellow;
    color:darkorange; 
}

img {
    background-color:whitesmoke;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border:1px solid lightgray
}

strong {
    background-color: lightgreen;
    color:darkslategrey;
}